# Node.js
node_modules/
build/
.env

# Node + Prettier package files
package-lock.json

# Prettier config and cache
.prettierrc
.prettierignore
.prettiercache

# Prettier output
*.log

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor settings
.vscode/
.idea/
.DS_Store